@font-face {
  font-family: MMXFont;
  src: url(mega-man-x.otf);
}

#characters {
  display: flex;
}
button {
  border: 0;
  padding: 0.75%;
  margin: 0.75%;
  font-family: MMXFont;
}
#html {
  margin: 0% 5%;
}

h1,
#timer {
  text-align: center;
}
#gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#playingMap,
#clickMap {
  height: 600px;
  width: 600px;
}
#playField {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
#clickMap {
  position: absolute;
}
.grid-Row {
  height: 30px;
  width: 30px;
}

.grid-Column {
  display: flex;
  height: auto;
  width: auto;
}

#map {
  width: 90%;
  height: 90%;
}

.grid-Row {
  /*debug*/
  /* -webkit-box-shadow: inset 0px 0px 0px 10px #f00; */
  /* -moz-box-shadow: inset 0px 0px 0px 10px #f00; */
  /* box-shadow: inset 0px 0px 0px 1px #f00; */
}
